
    .cs-topbar {
        display: none;
        width: 100%;
        background-color: var(--cs-color-topbar-background);
    }
    .cs-topbar .cs-header__inner {
        min-height: var(--cs-header-topbar-height);
    }
    .cs-topbar .cs-header__inner .cs-header__logo img {
        max-height: calc(var(--cs-header-topbar-height) - 20px);
    }
    .cs-topbar.cs-topbar-large .cs-header__inner {
        min-height: var(--cs-header-topbar-large-height);
    }
    .cs-topbar.cs-topbar-large .cs-header__inner .cs-header__logo img {
        max-height: calc(var(--cs-header-topbar-large-height) - 20px);
    }
    @media (min-width: 1020px) {
        .cs-topbar {
            display: block;
        }
    }
    @media screen and (max-width: 782px) {
        .cs-navbar-sticky-enabled.admin-bar .cs-header {
            top: 46px;
        }
        cs-topbar-large .cs-navbar-smart-enabled.admin-bar .cs-header {
            top: 46px;
        }
    }
    @media screen and (max-width: 600px) {
        .cs-navbar-sticky-enabled.admin-bar .cs-header {
            top: 46px;
        }
        .cs-navbar-smart-enabled.admin-bar .cs-header {
            top: 0;
        }
    }

    
    .cs-header__inner {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        min-height: var(--cs-header-height);
        -webkit-transition: 0.25s;
        transition: 0.25s;
    }