
    .pk-tabs,
    .pk-pills,
    .pk-accordion,
    .pk-progress,
    .pk-button.pk-button-block {
        margin-bottom: 2rem;
    }
    .pk-button {
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        color: #fff;
        border: none;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-decoration: none !important;
    }
    @media (prefers-reduced-motion: reduce) {
        .pk-button {
            -webkit-transition: none;
            transition: none;
        }
    }
    .pk-button:hover,
    .pk-button:focus {
        text-decoration: none;
    }
    .pk-button:focus,
    .pk-button.focus {
        outline: 0;
        -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
    .pk-button-primary {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }
    .pk-button-primary:hover {
        color: #fff;
        background-color: #0069d9;
        border-color: #0062cc;
    }
    .pk-button-primary:focus,
    .pk-button-primary.focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
    }
    .pk-button-primary.disabled,
    .pk-button-primary:disabled {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }
    .pk-button-primary:not(:disabled):not(.disabled):active,
    .pk-button-primary:not(:disabled):not(.disabled).active,
    .show > .pk-button-primary.dropdown-toggle {
        color: #fff;
        background-color: #0062cc;
        border-color: #005cbf;
    }
    .pk-button-primary:not(:disabled):not(.disabled):active:focus,
    .pk-button-primary:not(:disabled):not(.disabled).active:focus,
    .show > .pk-button-primary.dropdown-toggle:focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
    }
    .pk-button-secondary {
        color: #212529;
        background-color: #a0a0a0;
        border-color: #a0a0a0;
    }
    .pk-button-secondary:hover {
        color: #fff;
        background-color: #8d8d8d;
        border-color: #878686;
    }
    .pk-button-secondary:focus,
    .pk-button-secondary.focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(141, 142, 142, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(141, 142, 142, 0.5);
    }
    .pk-button-secondary.disabled,
    .pk-button-secondary:disabled {
        color: #212529;
        background-color: #a0a0a0;
        border-color: #a0a0a0;
    }
    .pk-button-secondary:not(:disabled):not(.disabled):active,
    .pk-button-secondary:not(:disabled):not(.disabled).active,
    .show > .pk-button-secondary.dropdown-toggle {
        color: #fff;
        background-color: #878686;
        border-color: gray;
    }
    .pk-button-secondary:not(:disabled):not(.disabled):active:focus,
    .pk-button-secondary:not(:disabled):not(.disabled).active:focus,
    .show > .pk-button-secondary.dropdown-toggle:focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(141, 142, 142, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(141, 142, 142, 0.5);
    }
    .pk-button-success {
        color: #fff;
        background-color: #28a745;
        border-color: #28a745;
    }
    .pk-button-success:hover {
        color: #fff;
        background-color: #218838;
        border-color: #1e7e34;
    }
    .pk-button-success:focus,
    .pk-button-success.focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
    }
    .pk-button-success.disabled,
    .pk-button-success:disabled {
        color: #fff;
        background-color: #28a745;
        border-color: #28a745;
    }
    .pk-button-success:not(:disabled):not(.disabled):active,
    .pk-button-success:not(:disabled):not(.disabled).active,
    .show > .pk-button-success.dropdown-toggle {
        color: #fff;
        background-color: #1e7e34;
        border-color: #1c7430;
    }
    .pk-button-success:not(:disabled):not(.disabled):active:focus,
    .pk-button-success:not(:disabled):not(.disabled).active:focus,
    .show > .pk-button-success.dropdown-toggle:focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
    }
    .pk-button-info {
        color: #fff;
        background-color: #17a2b8;
        border-color: #17a2b8;
    }
    .pk-button-info:hover {
        color: #fff;
        background-color: #138496;
        border-color: #117a8b;
    }
    .pk-button-info:focus,
    .pk-button-info.focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
    }
    .pk-button-info.disabled,
    .pk-button-info:disabled {
        color: #fff;
        background-color: #17a2b8;
        border-color: #17a2b8;
    }
    .pk-button-info:not(:disabled):not(.disabled):active,
    .pk-button-info:not(:disabled):not(.disabled).active,
    .show > .pk-button-info.dropdown-toggle {
        color: #fff;
        background-color: #117a8b;
        border-color: #10707f;
    }
    .pk-button-info:not(:disabled):not(.disabled):active:focus,
    .pk-button-info:not(:disabled):not(.disabled).active:focus,
    .show > .pk-button-info.dropdown-toggle:focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
    }
    .pk-button-warning {
        color: #212529;
        background-color: #ffc107;
        border-color: #ffc107;
    }
    .pk-button-warning:hover {
        color: #212529;
        background-color: #e0a800;
        border-color: #d39e00;
    }
    .pk-button-warning:focus,
    .pk-button-warning.focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
    }
    .pk-button-warning.disabled,
    .pk-button-warning:disabled {
        color: #212529;
        background-color: #ffc107;
        border-color: #ffc107;
    }
    .pk-button-warning:not(:disabled):not(.disabled):active,
    .pk-button-warning:not(:disabled):not(.disabled).active,
    .show > .pk-button-warning.dropdown-toggle {
        color: #212529;
        background-color: #d39e00;
        border-color: #c69500;
    }
    .pk-button-warning:not(:disabled):not(.disabled):active:focus,
    .pk-button-warning:not(:disabled):not(.disabled).active:focus,
    .show > .pk-button-warning.dropdown-toggle:focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
    }
    .pk-button-danger {
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
    }
    .pk-button-danger:hover {
        color: #fff;
        background-color: #c82333;
        border-color: #bd2130;
    }
    .pk-button-danger:focus,
    .pk-button-danger.focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
    }
    .pk-button-danger.disabled,
    .pk-button-danger:disabled {
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
    }
    .pk-button-danger:not(:disabled):not(.disabled):active,
    .pk-button-danger:not(:disabled):not(.disabled).active,
    .show > .pk-button-danger.dropdown-toggle {
        color: #fff;
        background-color: #bd2130;
        border-color: #b21f2d;
    }
    .pk-button-danger:not(:disabled):not(.disabled):active:focus,
    .pk-button-danger:not(:disabled):not(.disabled).active:focus,
    .show > .pk-button-danger.dropdown-toggle:focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
    }
    .pk-button-light {
        color: #212529;
        background-color: #f8f9fa;
        border-color: #f8f9fa;
    }
    .pk-button-light:hover {
        color: #212529;
        background-color: #e2e6ea;
        border-color: #dae0e5;
    }
    .pk-button-light:focus,
    .pk-button-light.focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
    }
    .pk-button-light.disabled,
    .pk-button-light:disabled {
        color: #212529;
        background-color: #f8f9fa;
        border-color: #f8f9fa;
    }
    .pk-button-light:not(:disabled):not(.disabled):active,
    .pk-button-light:not(:disabled):not(.disabled).active,
    .show > .pk-button-light.dropdown-toggle {
        color: #212529;
        background-color: #dae0e5;
        border-color: #d3d9df;
    }
    .pk-button-light:not(:disabled):not(.disabled):active:focus,
    .pk-button-light:not(:disabled):not(.disabled).active:focus,
    .show > .pk-button-light.dropdown-toggle:focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
    }
    .pk-button-dark {
        color: #fff;
        background-color: #343a40;
        border-color: #343a40;
    }
    .pk-button-dark:hover {
        color: #fff;
        background-color: #23272b;
        border-color: #1d2124;
    }
    .pk-button-dark:focus,
    .pk-button-dark.focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
    }
    .pk-button-dark.disabled,
    .pk-button-dark:disabled {
        color: #fff;
        background-color: #343a40;
        border-color: #343a40;
    }
    .pk-button-dark:not(:disabled):not(.disabled):active,
    .pk-button-dark:not(:disabled):not(.disabled).active,
    .show > .pk-button-dark.dropdown-toggle {
        color: #fff;
        background-color: #1d2124;
        border-color: #171a1d;
    }
    .pk-button-dark:not(:disabled):not(.disabled):active:focus,
    .pk-button-dark:not(:disabled):not(.disabled).active:focus,
    .show > .pk-button-dark.dropdown-toggle:focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
    }
    .pk-button-outline-primary {
        color: #007bff;
        border-color: #007bff;
    }
    .pk-button-outline-primary:hover {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }
    .pk-button-outline-primary:focus,
    .pk-button-outline-primary.focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
    }
    .pk-button-outline-primary.disabled,
    .pk-button-outline-primary:disabled {
        color: #007bff;
        background-color: transparent;
    }
    .pk-button-outline-primary:not(:disabled):not(.disabled):active,
    .pk-button-outline-primary:not(:disabled):not(.disabled).active,
    .show > .pk-button-outline-primary.dropdown-toggle {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }
    .pk-button-outline-primary:not(:disabled):not(.disabled):active:focus,
    .pk-button-outline-primary:not(:disabled):not(.disabled).active:focus,
    .show > .pk-button-outline-primary.dropdown-toggle:focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
    }
    .pk-button-outline-secondary {
        color: #a0a0a0;
        border-color: #a0a0a0;
    }
    .pk-button-outline-secondary:hover {
        color: #212529;
        background-color: #a0a0a0;
        border-color: #a0a0a0;
    }
    .pk-button-outline-secondary:focus,
    .pk-button-outline-secondary.focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(160, 160, 160, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(160, 160, 160, 0.5);
    }
    .pk-button-outline-secondary.disabled,
    .pk-button-outline-secondary:disabled {
        color: #a0a0a0;
        background-color: transparent;
    }
    .pk-button-outline-secondary:not(:disabled):not(.disabled):active,
    .pk-button-outline-secondary:not(:disabled):not(.disabled).active,
    .show > .pk-button-outline-secondary.dropdown-toggle {
        color: #212529;
        background-color: #a0a0a0;
        border-color: #a0a0a0;
    }
    .pk-button-outline-secondary:not(:disabled):not(.disabled):active:focus,
    .pk-button-outline-secondary:not(:disabled):not(.disabled).active:focus,
    .show > .pk-button-outline-secondary.dropdown-toggle:focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(160, 160, 160, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(160, 160, 160, 0.5);
    }
    .pk-button-outline-success {
        color: #28a745;
        border-color: #28a745;
    }
    .pk-button-outline-success:hover {
        color: #fff;
        background-color: #28a745;
        border-color: #28a745;
    }
    .pk-button-outline-success:focus,
    .pk-button-outline-success.focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
    }
    .pk-button-outline-success.disabled,
    .pk-button-outline-success:disabled {
        color: #28a745;
        background-color: transparent;
    }
    .pk-button-outline-success:not(:disabled):not(.disabled):active,
    .pk-button-outline-success:not(:disabled):not(.disabled).active,
    .show > .pk-button-outline-success.dropdown-toggle {
        color: #fff;
        background-color: #28a745;
        border-color: #28a745;
    }
    .pk-button-outline-success:not(:disabled):not(.disabled):active:focus,
    .pk-button-outline-success:not(:disabled):not(.disabled).active:focus,
    .show > .pk-button-outline-success.dropdown-toggle:focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
    }
    .pk-button-outline-info {
        color: #17a2b8;
        border-color: #17a2b8;
    }
    .pk-button-outline-info:hover {
        color: #fff;
        background-color: #17a2b8;
        border-color: #17a2b8;
    }
    .pk-button-outline-info:focus,
    .pk-button-outline-info.focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
    }
    .pk-button-outline-info.disabled,
    .pk-button-outline-info:disabled {
        color: #17a2b8;
        background-color: transparent;
    }
    .pk-button-outline-info:not(:disabled):not(.disabled):active,
    .pk-button-outline-info:not(:disabled):not(.disabled).active,
    .show > .pk-button-outline-info.dropdown-toggle {
        color: #fff;
        background-color: #17a2b8;
        border-color: #17a2b8;
    }
    .pk-button-outline-info:not(:disabled):not(.disabled):active:focus,
    .pk-button-outline-info:not(:disabled):not(.disabled).active:focus,
    .show > .pk-button-outline-info.dropdown-toggle:focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
    }
    .pk-button-outline-warning {
        color: #ffc107;
        border-color: #ffc107;
    }
    .pk-button-outline-warning:hover {
        color: #212529;
        background-color: #ffc107;
        border-color: #ffc107;
    }
    .pk-button-outline-warning:focus,
    .pk-button-outline-warning.focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
    }
    .pk-button-outline-warning.disabled,
    .pk-button-outline-warning:disabled {
        color: #ffc107;
        background-color: transparent;
    }
    .pk-button-outline-warning:not(:disabled):not(.disabled):active,
    .pk-button-outline-warning:not(:disabled):not(.disabled).active,
    .show > .pk-button-outline-warning.dropdown-toggle {
        color: #212529;
        background-color: #ffc107;
        border-color: #ffc107;
    }
    .pk-button-outline-warning:not(:disabled):not(.disabled):active:focus,
    .pk-button-outline-warning:not(:disabled):not(.disabled).active:focus,
    .show > .pk-button-outline-warning.dropdown-toggle:focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
    }
    .pk-button-outline-danger {
        color: #dc3545;
        border-color: #dc3545;
    }
    .pk-button-outline-danger:hover {
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
    }
    .pk-button-outline-danger:focus,
    .pk-button-outline-danger.focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
    }
    .pk-button-outline-danger.disabled,
    .pk-button-outline-danger:disabled {
        color: #dc3545;
        background-color: transparent;
    }
    .pk-button-outline-danger:not(:disabled):not(.disabled):active,
    .pk-button-outline-danger:not(:disabled):not(.disabled).active,
    .show > .pk-button-outline-danger.dropdown-toggle {
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
    }
    .pk-button-outline-danger:not(:disabled):not(.disabled):active:focus,
    .pk-button-outline-danger:not(:disabled):not(.disabled).active:focus,
    .show > .pk-button-outline-danger.dropdown-toggle:focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
    }
    .pk-button-outline-light {
        color: #f8f9fa;
        border-color: #f8f9fa;
    }
    .pk-button-outline-light:hover {
        color: #212529;
        background-color: #f8f9fa;
        border-color: #f8f9fa;
    }
    .pk-button-outline-light:focus,
    .pk-button-outline-light.focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
    }
    .pk-button-outline-light.disabled,
    .pk-button-outline-light:disabled {
        color: #f8f9fa;
        background-color: transparent;
    }
    .pk-button-outline-light:not(:disabled):not(.disabled):active,
    .pk-button-outline-light:not(:disabled):not(.disabled).active,
    .show > .pk-button-outline-light.dropdown-toggle {
        color: #212529;
        background-color: #f8f9fa;
        border-color: #f8f9fa;
    }
    .pk-button-outline-light:not(:disabled):not(.disabled):active:focus,
    .pk-button-outline-light:not(:disabled):not(.disabled).active:focus,
    .show > .pk-button-outline-light.dropdown-toggle:focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
    }
    .pk-button-outline-dark {
        color: #343a40;
        border-color: #343a40;
    }
    .pk-button-outline-dark:hover {
        color: #fff;
        background-color: #343a40;
        border-color: #343a40;
    }
    .pk-button-outline-dark:focus,
    .pk-button-outline-dark.focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
    }
    .pk-button-outline-dark.disabled,
    .pk-button-outline-dark:disabled {
        color: #343a40;
        background-color: transparent;
    }
    .pk-button-outline-dark:not(:disabled):not(.disabled):active,
    .pk-button-outline-dark:not(:disabled):not(.disabled).active,
    .show > .pk-button-outline-dark.dropdown-toggle {
        color: #fff;
        background-color: #343a40;
        border-color: #343a40;
    }
    .pk-button-outline-dark:not(:disabled):not(.disabled):active:focus,
    .pk-button-outline-dark:not(:disabled):not(.disabled).active:focus,
    .show > .pk-button-outline-dark.dropdown-toggle:focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
    }
    .pk-button-lg {
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: 0.3rem;
    }
    .pk-button-sm {
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
        line-height: 1.5;
        border-radius: 0.2rem;
    }
    .pk-button-block {
        display: block;
        width: 100%;
    }
    .pk-button-block + .pk-button-block {
        margin-top: 0.5rem;
    }
    .pk-nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }
    .pk-fade {
        -webkit-transition: opacity 0.15s linear;
        transition: opacity 0.15s linear;
    }
    @media (prefers-reduced-motion: reduce) {
        .pk-fade {
            -webkit-transition: none;
            transition: none;
        }
    }
    .pk-nav-link {
        display: block;
    }
    .pk-nav-link:hover,
    .pk-nav-link:focus {
        text-decoration: none;
    }
    .pk-nav-tabs .pk-nav-item + .pk-nav-item .pk-nav-link {
        margin-top: 0.5rem;
    }
    .pk-nav-tabs .pk-nav-link {
        border: 1px solid transparent;
        border-color: #dee2e6;
        color: #adb5bd;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }
    .pk-nav-tabs .pk-nav-link.pk-active {
        color: #000;
        background-color: #fff;
    }
    .pk-nav-tabs .pk-nav-link:hover,
    .pk-nav-tabs .pk-nav-link:focus {
        color: #212529;
    }
    .pk-tab-content > .pk-tab-pane {
        display: none;
    }
    .pk-tab-content > .pk-active {
        display: block;
    }
    .pk-tabs .pk-nav {
        margin-bottom: 1.5rem;
    }
    .pk-tabs .pk-nav-link {
        padding: 1rem 1.5rem;
        line-height: 1;
        font-size: 1rem;
        text-decoration: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }
    .pk-tabs .pk-tab-pane > *:last-child {
        margin-bottom: 0;
    }
    .pk-tabs .pk-nav-tabs .pk-nav-link.pk-active {
        background-color: #f8f9fa;
    }
    .pk-tabs .pk-nav-pills .pk-nav-link {
        border-radius: 0.25rem;
        padding: 0.75rem 1rem;
        line-height: 1;
        color: #adb5bd;
    }
    .pk-tabs .pk-nav-pills .pk-nav-link.pk-active {
        color: #000;
        background-color: #e9ecef;
    }
    @media (min-width: 768px) {
        .pk-tabs .pk-nav-item + .pk-nav-item .pk-nav-link {
            margin-top: 0;
        }
        .pk-tabs .pk-nav-link:not(.pk-active) {
            border-color: transparent;
        }
        .pk-tabs .pk-nav-tabs .pk-nav-link.pk-active {
            background-color: transparent;
        }
        .pk-tabs-horizontal .pk-nav {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
        }
        .pk-tabs-horizontal .pk-nav-tabs {
            border-bottom: 1px solid #dee2e6;
        }
        .pk-tabs-horizontal .pk-nav-item {
            -webkit-transform: translateY(1px);
            transform: translateY(1px);
        }
        .pk-tabs-horizontal .pk-nav-link.pk-active {
            border-bottom-color: #fff;
        }
        .pk-tabs-vertical .pk-tabs-container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }
        .pk-tabs-vertical .pk-tabs-navigation {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 30%;
            flex: 0 0 30%;
        }
        .pk-tabs-vertical .pk-tabs-navigation .pk-nav {
            margin-bottom: 0;
        }
        .pk-tabs-vertical .pk-tabs-navigation .pk-nav-item {
            width: 100%;
            max-width: 100%;
            -webkit-transform: translateX(1px);
            transform: translateX(1px);
        }
        .pk-tabs-vertical .pk-tabs-content {
            margin-left: 5%;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 65%;
            flex: 0 0 65%;
        }
        .pk-tabs-vertical .pk-nav-tabs {
            border-right: 1px solid #dee2e6;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            height: 100%;
        }
        .pk-tabs-vertical .pk-nav-tabs .pk-nav-link {
            border-radius: 0.25rem 0 0 0.25rem;
        }
        .pk-tabs-vertical .pk-nav-tabs .pk-nav-link.pk-active {
            border-right-color: #fff;
        }
        .pk-tabs-vertical .pk-nav-pills {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
        }
    }
    .pk-card {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        margin-bottom: 0;
        background-clip: border-box;
    }
    .pk-card + .pk-card {
        border-top: 1px solid #e9ecef;
    }
    .pk-collapsing {
        position: relative;
        height: 0;
        overflow: hidden;
    }
    .pk-card-body {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 0.75rem 0;
    }
    .pk-card-header {
        margin-bottom: 0;
    }
    .pk-card-header .pk-card-title {
        margin-top: 0;
        margin-bottom: 0;
    }
    .pk-card-header a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0.75rem 0;
        border: none;
        color: #212529;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        text-decoration: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }
    .pk-card-header a:hover {
        color: #adb5bd;
    }
    .pk-card-header a:after {
        font-family: "powerkit-icons";
        content: "\e914";
        -webkit-transition: 0.3s;
        transition: 0.3s;
    }
    .pk-card.expanded .pk-card-header a {
        color: inherit;
    }
    .pk-card.expanded .pk-card-header a:after {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    @-webkit-keyframes progress-bar-stripes {
        from {
            background-position: 1rem 0;
        }
        to {
            background-position: 0 0;
        }
    }
    @keyframes progress-bar-stripes {
        from {
            background-position: 1rem 0;
        }
        to {
            background-position: 0 0;
        }
    }
    .pk-progress {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 1rem;
        overflow: hidden;
        font-size: 0.75rem;
        background-color: #e9ecef;
        border-radius: 0.25rem;
    }
    .pk-progress-bar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        -webkit-transition: width 0.6s ease;
        transition: width 0.6s ease;
    }
    @media (prefers-reduced-motion: reduce) {
        .pk-progress-bar {
            -webkit-transition: none;
            transition: none;
        }
    }
    .pk-progress-bar.pk-bg-primary {
        background-color: #007bff;
    }
    .pk-progress-bar-striped {
        background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-size: 1rem 1rem;
    }
    .pk-progress-bar-animated {
        -webkit-animation: progress-bar-stripes 1s linear infinite;
        animation: progress-bar-stripes 1s linear infinite;
    }
    .pk-separator {
        border-bottom-color: #ddd;
        margin-top: 2rem;
        margin-bottom: 2rem;
    } 
